html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}
::selection {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Typewriter";
  src: url("./assets/fonts/typewcond_regular.otf");
}

.App {
  text-align: center;
}

.App-header {
  // background-color: #2f303a;
  background-color: black;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.emptyBox {
  background-size: cover;
}

.Title-text {
  position: fixed;
  // background-color: rgba(67, 3, 84, 1);
  background-color: black;
  color: white;
  // position: absolute;
  // -webkit-text-stroke: 0.5px black;
  // display: inline-block;
  top: 2%;
  left: 4%;
  font-family: "Big Caslon";
  font-style: normal;
  overflow: hidden;
  padding: 2px;
  font-weight: bold;
  line-height: 50px;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  mix-blend-mode: difference;
  z-index: 999999;
  transition: background-color 0.5s;
  cursor: pointer;
}
.Title-text:hover {
  color: black;
  background-color: white;
  // mix-blend-mode: hard-light;
}

.Subtitle-text {
  position: absolute;
  top: 15%;
  left: 8%;
  font-family: "Big Caslon";
  font-style: normal;
  font-weight: normal;
  line-height: 58px;
  font-size: 24px;
  color: white;
  text-align: center;
}

.my-masonry-grid {
  display: flex;
  position: fixed;
  // z-index: -1;
  margin-left: 0.5%;
  margin-top: 0.3%;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.my-masonry-grid_column {
  // border-left: 5px solid transparent;
  // border: none;
  background-clip: padding-box;
  margin-left: 0px;
  // padding-left: 10px;
}
.my-masonry-grid:last-child {
  flex-grow: 1;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements in <masonry> */
  // background: #ddd;
  padding-top: 2px;
  // margin-left: 4px;
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}

.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
    z-index: 9999999;
  }

  &--before-close {
    opacity: 0;
  }
}

.swiper-button-next {
  color: rgba(255, 255, 255, 0.7) !important;
  padding-right: 30%;
  padding-top: 20% !important;
  transition: color 0.5s;
}

.swiper-button-prev {
  color: rgba(255, 255, 255, 0.7) !important;
  padding-left: 30%;
  padding-top: 20% !important;

  transition: color 0.5s;
}

.swiper-button-next:hover {
  color: white !important;
}

.swiper-button-prev:hover {
  color: white !important;
}

#maskTextDiv {
  position: -webkit-sticky;
  display: table;
  position: absolute;
  top: 70%;
  justify-content: center;
  align-items: center;
  font-family: Typewriter;
  font-size: 32px;
  text-align: center;
  color: black;
  background-color: yellow;
  z-index: 9999999;
}

.button-fade-in {
  opacity: 1 !important;
}

.keyphraseP {
  margin-bottom: 30px;
}

.keyphraseP span {
  color: #fff;
  padding: 10px;
  background-color: #430354;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
